@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/600.css";
@import "@fontsource/quicksand/700.css";


@font-face {
  font-family: "Blont";
  src: url("./fonts/Blont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


